.search_result {
    background-color: $super-light-pink;
    border: 1px solid #F4E1E1;

    p {
        padding: 1.8rem 0;
        font-size: 1.2rem;
        text-align: center;

        @include breakpoint-down(medium) {
            padding: 1.25rem 0;
            font-size: 0.8rem;
        }

        span {
            color: $pink;
        }
    }
}