//colors 
$pink: #D05B5B;
$light-pink: #d3adad;
$super-light-pink: #FFF9F9;


$dark-grey-bg: #282828;
$light-grey-bg: #E5E5E5;
$light-grey-menu: #F9F9F9;



$light-grey-font: #9A9A9A;

//font weight
$super-thin:300;
$thin: 400;
$regular: 500;
$bold: 600;

//breakpoint width

$mobile: 320px;
$desktop: 1600px;
